@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --a: 0;
    --t: 200px;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", system-ui;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    margin: 6px 0 6px 6px;
}

.close img {
    display: none;
    cursor: pointer;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 14px;
    list-style: none;
    width: 15px;
    padding-top: 15px;
    font-weight: 700;
}

.heading {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    padding: 12px 2px;
}

.heading img {
    width: 22px;
}

.heading h2 {
    font-size: 16px;
    font-weight: 700;
}

.library {
    min-height: 74vh;
    position: relative;
}

.footer {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.footer a {
    color: grey;
    font-size: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
}

.header>* {
    padding: 20px
}

.nav {
    display: flex;
    align-items: center;
    gap: 4px;
}

.hamburger {
    display: none;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lr-icons {
    display: flex;
    gap: 4px;
}

.mylogo {
    width: 114px;
}

.right {
    margin: 11px;
    position: relative;
}

.spotifyPlaylists {
    padding: 15px 25px;
}

.spotifyPlaylists h1 {
    font-size: 24px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 65vh;
    overflow-y: auto;
}

.card {
    width: 185px;
    background-color: #1f1f1f;
    /* background-color: #191919; */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    transform: all 0.7s;
}
.card:hover{
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    --a: 1;
    --t: 137px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.card h2 {
    padding-top: 5px;
    font-size: 20px;
}

.card p {
    padding-top: 5px;
    font-size: 12px;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #09f909;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: var(--t);
    right: 19px;
    opacity: var(--a);
    transition: all 0.3s ease-out;
}

.signupbtn {
    background-color: #191919;
    color: rgb(145, 143, 143);
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
}

.signupbtn:hover {
    color: white;
}

.loginbtn {
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 25px;
}

.playbar {
    position: fixed;
    bottom: 0;
    background-color: #191919;
    width: 69vw;
    padding: 15px 10px;
    bottom: 30px;
    border-radius: 13px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: auto;
}

.songbuttons>* {
    cursor: pointer;
    width: 26px;
}

.songList ul {
    padding: 0 10px 0 0;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 10px 0;
    padding: 13px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s;
}
.songList ul li:hover{
    /* background-color: rgba(77, 128, 54, 0.23); */
    background-color: rgb(56, 56, 56);
}

.songList {
    height: 450px;
    overflow: auto;
    margin-bottom: 20px;
}

.songList .info {
    width: 300px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 13px;
    width: 53px;
    padding: 8px 2px 8px 8px;
}

.seekbar {
    height: 3px;
    width: 97%;
    background: white;
    position: absolute;
    bottom: 0;
    margin: 12px 0;
    cursor: pointer;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    bottom: 3.5px;
    left: 0%;
    transition: left 0.5s;
}

.barInfo {
    display: flex;
    width: 67vw;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* padding: 0 10px; */
}
.songtime{
    text-align: end;
}
.st-vol {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 275px;
}
.songinfo{
    width: 210px;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.volr{
    width: 100px;
        height: 10px;
}

@media (max-width: 1400px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 10;
        width: 375px;
        margin: auto 0;
    }
    
    .info div{
        word-break: break-all;
    }

    .left .close img {
        display: block;
        position: absolute;
        right: 22px;
        top: 19px;
        width: 26px;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 50px);
        padding: 15px 5px;
    }

    .barInfo {
        width: 86vw;
        padding: 0 8px;
    }

    .songbuttons>* {
        width: 20px;
    }

    .seekbar {
        width: 85vw;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 520px) {
    :root{
        --t: 400px;
    }
    .left{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
    }
    .card:hover{
        --t: 320px;
    }
    .play{
        padding: 16px;
    }
    .songinfo {
        width: auto;
    }
    .barInfo{
        width: 80vw;
        padding-bottom: 10px;
    }
    .playbar{
        margin: 0 20px;
    }
    .barInfo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .seekbar {
        width: 75vw;
    }
    .card{
        width: 76vw;
    }
    .st-vol {
        flex-direction: column;
        gap: 5px;
    }
}
@media (max-width: 480px) {
    :root{
        --t: 300px;
    }
    .card:hover{
        --t: 265px;
    }
    .header{
        padding: 5px;
    }
    .hamburgerContainer{
        gap: 15px;
        padding-left: 6px;
    }
    .header>*{
        padding: 20px 15px;
    }
    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        justify-content: center;
        padding-bottom: 173px;
    }
    .header{
        position: sticky;
        top: 0;
        z-index: 5;
    }
}
@media (max-width: 420px) {
    :root{
        --t: 300px;
    }
    .card:hover{
        --t: 238px;
    }
    .mylogo{
        width: 95px;
    }
    .header>*{
        padding: 20px 12px;
    }
    .signupbtn {
        font-size: 14px;
        padding: 7px 10px;
    }
    .loginbtn {
        font-size: 12px;
        padding: 7px 15px;
    }
}